*{
  box-sizing: border-box;
}
body{
  margin:0;
  background-color: #8fb265;
  font-family: 'Montserrat', sans-serif;
}

.contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.map{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.gatico{
  // ESTA CLASE SE ELIMINA CON INSERCIÓN DE MAPA DE MARIA
  width: 90%;
  height: 90%;
}

.index-card0{
  background-color: white;
  width: 95%;
  border:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}
.index-card-top0{
  text-align: center;
  background-color: #44582c;
  color: white;
}

.article{
  padding: 10px 45px 10px 45px;
}

.paragraph{
  padding-top: 40px;
}

.index-card{
  background-color: white;
  width: 95%;
  border:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.index-card-top{
  text-align: center;
  background-color: #44582c;
  color: white;
}
